html{background: url("../images/bg.jpg")}

#canvas{
    margin:100px auto;
    background-color: burlywood;
    height:600px;
    width:1000px;
    
}

header{
    margin: 20px auto;
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
}

#start{
    height:30px;
    width:200px;
    margin:auto;
    border: 3px solid blue;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size:24px;
}
